
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}


.header {
  display: flex;
  
  align-items: center;
  height: 100px;
  background-color: #003366;
  padding: 10px 20px;
  
}

.header-icons {
  display: flex;
  flex-grow: 1;
  align-items: center; 
}

.header-icons  {
  margin-left: 10px; 
}



.logo{
  margin-left: 10px;
  width: 250px;
  height: 100px;
}

.header-button {
  display: flex;
  flex-grow: 1;
  gap: 20px;
}

.login,
.signup {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #00A86B;
  color: white;
  border: none;
  cursor: pointer;
}

.login:hover,
.signup:hover {
  background-color: #007a50;
}


.carousel-container {
  width: 90%;
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
}

.carousel-container img {
  width: 100%;
  height: auto;
  max-height: 600px;
  object-fit: cover;
}



.trending-stocks {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.stocks-section {
  display: flex;
  gap: 20px;
}

.stocks-category {
  flex: 1;
  background: #f8f8f8;
  padding: 15px;
  border-radius: 8px;
}

.stocks-category h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.stocks-list {
  border-top: 1px solid #ddd;
}

.stock-row {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.stock-name {
  display: flex;
  align-items: center;
  flex: 2;
}

.stock-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.stock-price {
  flex: 1;
  text-align: right;
}

.stock-price p {
  margin: 0;
}

.stock-price .positive {
  color: green;
}

.stock-price .negative {
  color: red;
}

.stock-compliance {
  flex: 1;
  text-align: center;
}

.compliance-badge {
  background: #e0f5e5;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  color: #4CAF50;
}

.compliance-rating {
  color: #f4c542;
  font-size: 14px;
}

.upgrade-lock {
  text-align: center;
  padding: 10px;
  color: #888;
  font-size: 14px;
}

.table-headings, .stock-row {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.table-headings {
  font-weight: bold;
  color: #555;
  border-bottom: 1px solid #ddd;
}

.heading-name, .stock-name {
  flex: 2;
  display: flex;
  align-items: center;
}

.heading-price, .stock-price {
  flex: 1;
  text-align: right;
}

.heading-compliance, .stock-compliance {
  flex: 1;
  text-align: center;
}





@media (max-width: 768px) {
  .header {
    flex-direction: row;
    height: auto;
    padding: 20px;
  }

  .header-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }

  .header-button {
    gap: 10px;
  }

  .login,
  .signup {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  .carousel-container {
    width: 90%;
  }
}
  
@media (max-width: 480px) {
  .header-title {
    font-size: 1.1rem;
  }

  .login,
  .signup {
    padding: 6px 12px;
    font-size: 0.8rem;
  }

  
}
