
.stock-detail-container{
  width: 100%;
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
/* Stock Table */
.stock-grid {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  width: 85%;
  margin-left: 10px;
  background-color: white;
  padding: 24px;
  
  
}

.stock-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 14px;
  color: #6b7280;
}

.value {
  font-size: 24px;
  font-weight: 600;
  color: #111827;
}

/* Responsive design */
@media (max-width: 1024px) {
  .stock-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 16px;
  }
}

@media (max-width: 640px) {
  .stock-grid {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  
  .value {
    font-size: 20px;
  }
}




/*Chart Component styles*/
.market-container1{
  margin-top: 10px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  
  background-color: #f9f9f9;
}


.chart-components1{
  margin-left: 150px;
  border-width: 1px;
  border-style: solid;
  border-color: #333333;
  padding-top: 5px;
  width: 700px;
}

.range-buttons1{
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 65px;
  margin-bottom: 10px;
}

.range-buttons1 button{
  background-color: transparent;
  border-style: solid;
  border-bottom: none;
  border-color: black;
  border-top: none;
  border-left: none;
  color: #003366;
  font-weight:bold;
  
}

.range-buttons1 button:hover{
  color: #00A86B;
}

.chart{
  width: 700px;
  height: 350px;
}

@media (max-width: 1024px) {
  .chart-components1{
    margin-left: 100px;
    border-width: 1px;
    border-style: solid;
    border-color: #333333;
    padding-top: 5px;
    width: 500px;
  }
  .chart{
    width: 500px;
    height: 250px;
  }
}

@media (max-width: 640px) {
  .chart-components1{
    margin-left: 65px;
    border-width: 1px;
    border-style: solid;
    border-color: #333333;
    padding-top: 5px;
    width: 400px;
  }
  .chart{
    width: 400px;
    height: 200px;
  }
  .range-buttons1{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 35px;
    margin-bottom: 10px;
  }
  
  .range-buttons1 button{
    background-color: transparent;
    border-style: solid;
    border-bottom: none;
    border-color: black;
    border-top: none;
    border-left: none;
    color: #003366;
    font-weight:medium;
    
  }
}



.News-container{
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 8px;
  
}



.news-article{
  margin-bottom: 5px;
  background-color: white;
  width: 300px;
  height: 150px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);

  padding: 5px;
}

.news-article:hover{
  background-color: #f0f0f0;
}

.news-article img{
  width: 50px;
  height: 50px;
}

.news-article h4{
  margin-top: 5px;
  margin-bottom: 5px;
}

.news-article p{
  font-size: medium;
  margin-bottom: 0;
}

